{% load static %}
{% include 'reusable.html' %}
<title>Logiciel - Fix Parser </title>

<body class="sidebar-mini layout-fixed sidebar-collapse">
<div class="wrapper">

    <!-- Navbar -->
    {% include 'navbar.html' %}
    <!-- /.navbar -->

    {% include 'sidebar.html' %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Logiciel - Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/Dashboard" style="color:black"><i
                                    class="fa fa-home"></i></a>
                            </li>
                            <li class="breadcrumb-item">Fix</li>
                            <li class="breadcrumb-item active">Parser</li>

                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Fix Parser Form</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="post" action="/FixParser" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                <textarea rows="20" cols="300" class="form-control" name="FixLogs" required></textarea>
                            </div>


                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-info" id="submit">Submit</button>
                        </div>
                    </form>
                </div>

                <div class="row p-2">

                    {% if message %}
                        <script>
                            Swal.fire({
                                title: " {{ title }}",
                                text: " {{ message }}",
                                icon: "{{ icon }}"
                            });
                        </script>
                    {% endif %}
                </div>

            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    {% include 'footer.html' %}


</div>
</body>
