{% include 'reusable.html' %}
<title>Logiciel - Order Trails - Details </title>

<body class="hold-transition layout-top-nav">
{% include 'navbar.html' %}
<div class="wrapper">
    <div class="content-wrapper">
        <div class="content-header">
            {% include 'sidebar.html' %}

            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <div class="page-title d-flex">
                            <!--                            <h4><i class="icon-arrow-right6 mr-2"></i> <span-->
                            <!--                                    class="font-weight-semibold">Dashboard:-</span> Autos Software</h4>-->
                        </div>
                        <h1 class="m-0 text-dark"><small></small></h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/Dashboard" style="color:black"><i
                                    class="fa fa-home"></i> </a>
                            </li>

                            <li class="breadcrumb-item active">Order Trails - Details</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->

        <div class="container">
            <div class="content">

                <div class="row">
                    {% if order_trails %}
                        {% for key, value in order_trails.items %}



                            <div class="card col-lg-12">
                                <div class="card-header">
                                    Trail # {{ forloop.counter }} - {{ key }}:

                                </div>
                                <div class="card-body">
                                    <p>Length of trail: {{ value|length }}</p>
                                    {% for message in value %}
                                        <span> {{ message }} <br/> <br/> </span>
                                    {% endfor %}
                                </div>
                            </div>

                        {% endfor %}

                    {% else %}
                        <p>No order trails found.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}
</body>
</html>