{% load static %}
{% include 'reusable.html' %}
<title>Logiciel - Order Events </title>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Navbar -->
    {% include 'navbar.html' %}
    <!-- /.navbar -->

    {% include 'sidebar.html' %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Logiciel - Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/Dashboard" style="color:black"><i
                                    class="fa fa-home"></i></a>
                            </li>
                            <li class="breadcrumb-item active">Order Events</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Order Events</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="post" action="/OrderEvents" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                <label for="">Enter CAT IMID</label>
                                <input type="text" class="form-control" placeholder="Enter CAT IM ID "
                                       name="CAT_IM_ID"/>
                            </div>
                            <div class="form-group">
                                <label for="">Enter FDID</label>
                                <input type="text" class="form-control" placeholder="Enter FD ID " name="FD_ID"/>
                            </div>
                            <div class="form-group">
                                <label for="">Enter Training Session</label>
                                <input type="text" class="form-control" placeholder="Enter Trading Session "
                                       name="Trading_Session"/>
                            </div>
                         
                            <div class="form-group">
                                <label for="exampleInputFile">Import File</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="file-input" name="file"
                                               onchange="checkFileSelected()">

                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary" id="submit" disabled>Submit</button>
                        </div>
                    </form>
                </div>
                <div class="row p-2">

                    {% if message %}
                        <script>
                            Swal.fire({
                                title: " {{ title }}",
                                text: " {{ message }}",
                                icon: "{{ icon }}"
                            });
                        </script>
                    {% endif %}
                </div>

            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    {% include 'footer.html' %}


</div>
</body>

<script>
    function checkFileSelected() {
        const fileInput = document.getElementById('file-input');
        const submitButton = document.getElementById('submit');

        // Enable the submit button if a file is selected, otherwise disable it
        submitButton.disabled = !fileInput.files.length;
    }
</script>